<mat-card class="example-card">
    <mat-card-content>
      <h4><b>10 Mar 2021</b></h4>
       <p> Commit message entered by the user in entirety. All of the commit
        message should be displayed</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content>
      <h4><b>10 Mar 2021</b></h4>
       <p> Commit message entered by the user in entirety. All of the commit
        message should be displayed</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content>
      <h4><b>10 Mar 2021</b></h4>
       <p> Commit message entered by the user in entirety. All of the commit
        message should be displayed</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-container">
        <button mat-mini-fab aria-label="Example icon button with a filter list icon" id ="btn1">
          <mat-icon>person</mat-icon>
        </button> USER NAME
      </div>
    </mat-card-actions>
  </mat-card>